/* 1rem = 16px */

/* BANNER */
.banner-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../assets/img/1.Home/banner.jpeg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}

.banner-section .banner-text {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.banner-section .img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-180deg);
}

/* WHY CHOOSE US */

.why-us .header-section {
  max-width: 750px;
}
.why-us .header-section h6.body-1 {
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.why-us .product-boxs .box {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in;
  background: var(--light-bg-color);
  padding: 48px 32px;
  border: 1px solid var(--light-bg-color);
}
.why-us .product-boxs .box:hover {
  transition: 0.3s ease-in;
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY);
}
.why-us .product-boxs .box:hover a:hover {
  color: unset;
}

/* responsive */
@media screen and (max-width: 768px) {
  .why-us .header-section h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 375px) {
  .why-us .header-section h3 {
    font-size: 32px;
    line-height: 42px;
  }
}

/* ABOUT SECTION */
.about-section {
  background-color: var(--light-bg-color);
}

.about-section .about-text-container .title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 4px;
}

.about-section .about-img-container .about-img {
  border-radius: var(--card-curve);
  box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
  transition: all 0.3s ease-in-out;
}

.about-section .about-img-container .about-img:hover {
  transform: var(--transformY);
}

/* STATS SECTION */

.stats-section {
  background-color: var(--light-bg-color);
}
.stats-section .stats-container .stats-box {
  background-color: #fff;
  padding: 32px;
  border-radius: var(--card-curve);
  box-shadow: var(--card-box-shadow);
  transition: 0.3s ease;
  border: 1px solid #eee;
}

.stats-section .stats-container .stats-box:hover {
  box-shadow: var(--card-hover-box-shadow);
  transition: 0.3s ease;
}

.stats-section .stats-container .stats-box h6 {
  color: var(--title-color);
  font-weight: 700;
}
.stats-section .stats-container .stats-box .stats-number {
  font-size: 50px;
  line-height: 1;
  color: var(--primary);
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.stats-section .stats-container .stats-box p {
  margin-top: 0;
  margin-bottom: 0;
}

/* TRUST SECTION */
.trust-background {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url("../assets/img/1.Home/bg.jpeg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  align-items: center;
  padding: 32px 0;
}

.trust-background .trust__content-wrapper {
  max-width: 550px;
}
.trust-background .trust__content-wrapper .heading,
.trust-background .trust__content-wrapper p {
  color: var(--white);
}

.trust-background .trust__content-wrapper .theme-btn {
  border: var(--white);
  color: var(--text-color);
}

.trust-background .trust__content-wrapper .theme-btn:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
