.about1 {
    padding: 50px 0;
}
.about1 .jumbotron {
    padding: 40px 25px;
}
.about1 .jumbotron h1{
    color: var(--title-color);
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
}
.about1 .content .row h2{
    font-size: 36px;
    line-height: 44px;
    color: var(--title-color);
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 600;
}
.about1 .content .row p {
    margin: 15px 0 30px 0;
}
.about1 .content .list {
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}
.about1 .content .list li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--title-color);
    margin: 15px 0;
    font-weight: 600;
}
.about1 .content .list i {
    color: var(--primary);
    margin-right: 12px;
    background: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.about1 .content .row img{
    max-width: 100%;
    border-radius: 5px;
    height: auto;
}
.about1 .content .row img:hover {
    transform: var(--transformY);
    transition: 0.3s ease-in-out;
}
.about2 .container {
    padding: 30px 25px;
}
.about2 .container p{
    padding-top: 16px;
    font-size: 16px;
    line-height: 24.5px;
    color: var(--text-color);
    margin-top: 16px;
}
.about2 .container h3{
    font-size: 26px;
    line-height: 32px;
    color: var(--title-color);
    font-weight: 700;
}
.features {
    background-color: var(--light-bg-color);
    padding: 30px 0;
}
.features h1{
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.features .sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}