.about1 {
    padding: 50px 0;
}
.about1 .header-section {
    padding: 40px 25px;
}
.about1 .header-section h1{
    color: var(--title-color);
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
}
.about1 .content .row h2{
    font-size: 36px;
    line-height: 44px;
    color: var(--title-color);
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 600;
}
.about1 .content .row p {
    margin: 15px 0 30px 0;
}
.about1 .content .list {
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}
.about1 .content .list li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--title-color);
    margin: 15px 0;
    font-weight: 600;
}
.about1 .content .list i {
    color: var(--primary);
    margin-right: 12px;
    background: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.about1 .content .row img{
    max-width: 100%;
    border-radius: 5px;
    height: auto;
}
.about1 .content .row img:hover {
    transform: var(--transformY);
    transition: 0.3s ease-in-out;
}
.about2 .container {
    padding: 30px 25px;
}
.about2 .container p{
    padding-top: 16px;
    font-size: 16px;
    line-height: 24.5px;
    color: var(--text-color);
    margin-top: 16px;
}
.about2 .container h3{
    font-size: 26px;
    line-height: 32px;
    color: var(--title-color);
    font-weight: 700;
}
.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.header-section h1{
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.header-section p {
    padding: 16px 0;
}
.features {
    background-color: var(--light-bg-color);
    padding: 30px 0;
}
.features .box .icon {
    position: relative;
    top: 60px;
    display: inline-block;
    margin-bottom: 68px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    transition: all 0.3s ease;
    border-radius: 100%;
    color: #fff;
    font-size: 26px;
    background-color: var(--primary);
}
.features .box .card-icon {
    position: relative;
    flex-direction: column;
    min-width: 0;
    /* word-wrap: break-word; */
    background-color: #fff;
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: 0.25rem;
    text-align: center;
}
.features .box h4{
    position: relative;
    top: 10px;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #000;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: var(--title-color);
}
.features .box .elite {
    background: #fff;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
}
.features .box .thumb {
    width: 100%;
    height: 250px;
    margin: 0px 0;
    text-align: center;
    transition: all 0.3s ease;
    padding: 0 30px;
}
.solution {
    background-color: #ffffff;
    padding: 30px 0;
}