/* Color */
:root {
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --nav-text-color: #333
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --light-bg-color: #F7F9FC;
    --card-curve: 6px;
    --card-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --transformY: translateY(-0.5rem);

    /* base secondary */
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
/* reset css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
* {
    font-weight: 300;
    box-sizing: inherit;
}

/* Typography */

h1 {
    font-size: 9.6rem;
    line-height: 13.4rem;
    font-weight: 700;
    letter-spacing: -1.5px;
}

h2 {
    font-size: 46px;
    line-height:56px;
}

h3 {
    font-size: 36px;
    line-height: 40px;
}

h4 {
    font-size: 30px;
    line-height: 36px;
}

h5 {
    font-size: 26px;
    line-height: 35px;
}

h6 {
    font-size: 16px;
    line-height: 20px;
}

p {

}

.btn-text {
    font-size: 14px;
    line-height: 52px;
}
.caption { 
    font-weight: 500;
}
